Source: ros-groovy-actionlib
Section: misc
Priority: extra
Maintainer: Eitan Marder-Eppstein <eitan@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-common-msgs,ros-groovy-catkin,ros-groovy-genmsg,ros-groovy-ros,ros-groovy-ros-comm,ros-groovy-langs-dev
Homepage: http://www.ros.org/wiki/actionlib
Standards-Version: 3.9.2

Package: ros-groovy-actionlib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-common-msgs,ros-groovy-ros-comm,ros-groovy-ros,ros-groovy-langs
Description: The actionlib stack provides a standardized interface for interfacing with preemptable tasks. Examples of this include moving the base to a target location, performing a laser scan and returning the resulting point cloud, detecting the handle of a door, etc.
 .
 This stack contains the packages:
 * actionlib: The actionlib package provides a standardized interface for interfacing with preemptible tasks. Examples of this include moving the base to a target location, performing a laser scan and returning the resulting point cloud, detecting the handle of a door, etc.

